p{
	margin: auto;
	text-align: center;
}

form{
	background: #8BCCF0;
	margin: auto;
	text-align: center;
	max-width: 300px;
	width: 60%;
	border-radius: 25px;
	padding: 20px 20px 20px 20px;
}

input{
	margin: auto;
	width: 65%;
	margin-bottom: 4px;
	text-align: center;
}
#afterSendDiv{
	display: flex;
	justify-content: center;
}

#mainPageButton{
	top: 150px;
}
