
<div id="formDiv" *ngIf="!afterSend">
	<p>You order products for {{price}}$</p>
	<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">

	  	First name:<br/>
	  	<input type="text" name="name"  ngModel required><br/>
	  	Last name:<br/>
	  	<input type="text" name="lastname" ngModel required><br/>
	  	Address:<br/>
	  	<input type="text" name="address" ngModel required><br/><br/>
	  	<input type="text" name="order" type="hidden" ngModel="{{order}}">
	  	<span *ngIf="error" class="error">You entered incorrect data!</span><br/>
	  	<button type="submit">Submit</button><br/>
	</form>
	<nav>
		<a routerLink="/trolley">&lt;&lt;Go back to trolley</a>
	</nav>
</div>
<div id="afterSendDiv" *ngIf="afterSend">
	<p>
		Your order has been registered
	</p>
	<nav id="mainPageButton">
		<a routerLink="/home">Go to main page</a>
	</nav>
</div>