<div id="container">
	<div id="category-list">
		<ul>
			<li *ngFor="let cat of categories">
				<button (click)="clicked(cat)" class="{{isActive(cat)}}">{{cat}}</button>
			</li>
		</ul>
	</div>
	<div id=filter>
		<input type="text" [(ngModel)]="filterName"/>
	</div>
	<div id="product-container">
			<product-list 
				(emitCat)="catEmitted($event)"
				[onlyCat]="checked"
				[filterName]="filterName">
			</product-list>
	</div>
</div>