.checked{
	background-color: lightblue;
}

#category-list{
	position: absolute;
	left: 15px;
	width: 30%;
	background: #8BCCF0;
	border-radius: 25px;
	height: 200px;
}

#product-container{
	position: absolute;
	right: 15px;
	width: 60%;
	background: #8BCCF0;
	border-radius: 25px;
	padding: 0px 10px 0px 10px;
	height: 200px;
}

#container{
	position: relative;
	background: #7EE5F2;
	height: 200px;
	padding: 10px;
}

#filter{
	position: absolute;
	bottom: 20px;
	left: 25px;
}