#trolleyTop{
	position: relative;
	width: 70%;
	background:#424242;
	border-radius: 25px;
	height: 100px;
	margin-bottom: 10px;
	left: 30%;
}

nav{
	position: absolute;
	margin-right: 20px;
	border-style: groove;
	border-radius: 15px;
	background-color: #7F9BF5;
	padding: 5px 5px 5px 5px;
	border-color: #8CA3ED;
	border-width: 2px;
}
#trolleyButton{
	right: 0px;
	bottom: 10px;
}
#trolleyText{
	position: absolute;
	left: 30px;
	top: 0px;
	padding: 0px 0px 0px 0px;
}
