<div id="trolleyTop">
	<p id="trolleyText">
		You have {{boughtItems}} {{boughtItems==1? "item" : "items"}} in trolley worth {{boughtPrice}}$

	</p>
		<nav id="trolleyButton">
			<a routerLink="/trolley">Go to trolley</a>
		</nav>
</div>
<category-list></category-list>
