
<div *ngIf="isError" id="errorMsg">
  There was an error during product list download
</div>
<ul>
	<li *ngFor="let prod of products; let i= index">

		<span class="product-name" [ngClass]="{'promotion': isOnPromotion(prod)}">{{prod.name}}</span>
		<span class="product-description">{{prod.description}}</span>
		<span class="product-price" [ngClass]="{'promotion': isOnPromotion(prod)}">{{prod.price*(100-promotionPercentage(prod))/100}}$</span>
    <span class="promotion-price" *ngIf="isOnPromotion(prod)">-{{promotionPercentage(prod)}}%</span>  
    <span *ngIf="prod.amount>0" class="productBuy">
      <span class="product-amount">Available: {{prod.amount}}</span>      
		  <button class="product-buyButton" (click)="toTrolley(prod,i)" >Buy {{amounts[i]}}</button>
      <button class="add" (click)="increase(i)" [disabled]="amounts[i]===prod.amount">+</button><button class="add" (click)="decrease(i)" [disabled]="amounts[i]===1">-</button>
    </span>
    <span *ngIf="prod.amount==0" class="productBuy">
      Product is currently unavailable
    </span>
	</li>
</ul>
<product-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="5"
  [page]="page"
  [perPage]="limit"
  [count]="total">
</product-pagination>