product-pagination{
	position: absolute;
	left: 15px;
	bottom: 15px;
	background: #EBC6F5;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
}
.promotion{
	font-weight: bold;
}
.promotion-price{
	font-size: 120%;
	font-weight: bold;
	color: red;
}