<div>
	<ul>
		<li *ngFor="let prod of boughtItems;let i = index" >
			{{prod.name}}: {{prod.description}}, Price: {{prod.price}}$
			, Amount: {{prod.amount}}<button (click)="delete(i)">Delete</button>
		</li>
	</ul>
	<nav id="backButton">
		<a routerLink="/home">Back to shopping</a>
	</nav>
	<nav *ngIf="boughtItems.length!=0" id="formButton">
		<a routerLink="/form" >Go to delivery details</a>
	</nav>
</div>
