<div *ngIf="!logged">
	<p *ngIf="loginError">
		Incorrect credentials!
	</p>
	<form #f=ngForm (ngSubmit)="authenticate(f.value)">
		Username:<br/>
	  	<input type="text" name="username" ngModel><br/>
	  	Password:<br/>
	  	<input type="password" name="password" ngModel><br/><br/>
	  	<button type="submit">Submit</button><br/>
	</form>
</div>
<div *ngIf="logged">
	<button (click)="listOrders()">Orders</button>
	<button (click)="listRealizedOrders()">Finished Orders</button>
	<button (click)="listProducts()">Products</button>
	<button (click)="logout()">Logout</button>
	<button (click)="switchShowAddPromotion()">Add promotion</button>
</div>
<div *ngIf="showAddPromotion">
		Product id:<br/>
	  	<input type="text" name="_id"  [(ngModel)]="promotion._id"><br/>
	  	Duration:<br/>
	  	<input type="number" name="duration" [(ngModel)]="promotion.duration"><br/>
	  	Percentage:<br/>
	  	<input type="number" name="percentage" [(ngModel)]="promotion.percentage"><br/><br/>
	  	<button (click)="sendPromotion()">Add Promotion!</button>
</div>
<div *ngIf="showProducts">
	<ul>
		<li *ngFor="let item of products">
			<span class="product-name">{{item.name}}</span>
			<span class="product-description">{{item.price}}</span>
			<span class="product-price">{{item.description}}</span>
			<span class="product-price">{{item.category}}</span>
			<span class="product-price">{{item.amount}}</span>
			<span class="product-price">{{item._id}}</span>
		</li>
	</ul>
	<form #f="ngForm" (ngSubmit)="addProduct(f.value)" class="ui form">

	  	Product name:<br/>
	  	<input type="text" name="name" ngModel><br/>
	  	Product price:<br/>
	  	<input type="number" name="price" ngModel><br/>
	  	Amount:<br/>
	  	<input type="number" name="amount" ngModel><br/><br/>
	  	Category:<br/>
	  	<input type="text" name="category" ngModel><br/><br/>
	  	Description:<br/>
	  	<input type="text" name="description" ngModel><br/><br/>
	  	<button type="submit">Submit</button><br/>
	</form>
		
</div>
<div *ngIf="showOrders">
	<ul>
		<li *ngFor="let item of orders">
			<span class="product-name">{{item.name}}</span>
			<span class="product-description">{{item.lastname}}</span>
			<span class="product-price">{{item.address}}</span>
			<button (click)="showOrderDetails(item)">Show details</button>
			<button (click)="transferToFinished(item)" *ngIf="!item.finished">Finished!</button>
		</li>
	</ul>
	<div id="details" *ngIf="showOrdersDetailForm">
		<button (click)="updateOrder()">Save changes</button>
		<button (click)="addNewOrder()">Create new order</button>
		<button (click)="deleteOrder()">Delete order</button><br/>
	  	First name:<br/>
	  	<input type="text" name="name"  [(ngModel)]="order.name"><br/>
	  	Last name:<br/>
	  	<input type="text" name="lastname" [(ngModel)]="order.lastname"><br/>
	  	Address:<br/>
	  	<input type="text" name="address" [(ngModel)]="order.address"><br/><br/>
	  	<ul>
			<li *ngFor="let item of productList">
				<span class="product-name">{{item.name}}</span>
				<span class="product-description">{{item.description}}</span>
				<span class="product-price">{{item.price | currency: 'USD':"$":'2.2-4'}}</span>
				<span class="product-amount">Amount: {{item.amount}}</span>
				<button (click)="deleteProductFromOrder(item)">Delete</button>
			</li>
		</ul>



	</div>
</div>