<div>
	<span class="product-name">{{name}}</span>
	<span class="product-description">{{description}}</span>
	<span class="product-price">{{price}}</span>
	<button class="product-buyButton">Buy it!</button>
</div>
